@if (Loading)
{
    <div id="spinner-bg">
    </div>
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
        <div class="dot3"></div>
    </div>
}

@code {
    [Parameter] public bool Loading { get; set; }
}
