@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4 bg-purple">
        <a href="/" class="text-white"><img src="/assests/logo.svg" /></a>
    </div>

    <div class="container px-4 mx-auto mt-1">
        @Body
    </div>
</div>